<div class="relative">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="relative rounded-lg shadow-lg mb-5 text-xs sm:text-sm md:text-md xl:text-lg">
      <pre class="relative rounded-xl shadow-lg break-normal" style="color: rgb(214, 222, 235); background-color: rgb(1, 22, 39);">
        <div class="flex-none h-11 flex items-center px-4">
          <div class="flex space-x-1.5">
            <div class="w-3 h-3 border-2 rounded-full border-red-500"></div>
            <div class="w-3 h-3 border-2 rounded-full border-amber-400"></div>
            <div class="w-3 h-3 border-2 rounded-full border-green-400"></div>
          </div>
        </div>
        <div class="overflow-scroll ml-3 md:ml-5 lg:ml-8">
        
        </div>
      </pre>
    </div>
  </div>
</div>
